@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
h1 {
  text-align: center;
}

.awesomebooks {
  width: 30%;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.input {
  background-color: white;
  margin-bottom: 10px;
  border: 2px solid black;
  height: 30px;
  padding: 0 5px 0 5px;
}

#add {
  width: 40px;
  background-color: white;
  margin-bottom: 10px;
  border: 2px solid black;
  height: 30px;
  padding: 0 5px 0 5px;
  box-shadow: 3px 3px black;
  align-self: flex-end;
}

#message {
  color: red;
  text-align: center;
}
.show {
  display: none;
}

#books {
  border: solid 2px black;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px 5px 10px;
}

.book p {
  margin: 4px 0 4px 0;
}

.button {
  background-color: white;
  border: 2px solid black;
  height: 30px;
  padding: 0 5px 0 5px;
  box-shadow: 3px 3px black;
  font-size: 20px;
}

.divisor {
  height: 1.4px;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: black;
}

.new_book {
  text-align: center;
  margin: 0;
}

.gray {
  background-color: rgb(209, 208, 208);
}

.white {
  background-color: white;
}